## Week 8 - Markov Models
### Alex Sessums & Valentin Lorenzen

In [242]:
# Import libaries
import numpy as np
import pandas as pd
import os

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as mtick

import datetime

# Set seaborn styles 
pd.options.mode.chained_assignment = None  # default='warn'
sns.set_style("dark")
sns.set(font_scale = 1.5)

### Data Import

In [243]:
# Load DOODL customer data

day = 'tuesday'

# Create full data frame, even importing duplicate values. Also removes ribbons in the beginning and end of the csv files.
df = pd.read_csv(f'data/{day}.csv', sep=';', header=1)
Dup_Rows = df[df.duplicated()]
df["is_duplicate"]= df.duplicated()
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')
df['month'] = df['timestamp'].dt.month
df['year'] = df['timestamp'].dt.year
df['day'] = df['timestamp'].dt.day
df = df.dropna(subset=['timestamp'])
df['customer_no'] = df['customer_no'].astype(int)


# Create unique data frame full dataframe
df = df[df['is_duplicate']==False]
df.tail()

,timestamp,customer_no,location,is_duplicate,month,year,day
4709,2019-09-03 21:47:00,1421,drinks,False,9.0,2019.0,3.0
4710,2019-09-03 21:47:00,1422,dairy,False,9.0,2019.0,3.0
4711,2019-09-03 21:48:00,1421,checkout,False,9.0,2019.0,3.0
4712,2019-09-03 21:49:00,1412,checkout,False,9.0,2019.0,3.0
4713,2019-09-03 21:50:00,1411,dairy,False,9.0,2019.0,3.0

In [244]:
# Calculate the total number of customers in each section
section = pd.DataFrame(df.groupby(['location', 'day', 'customer_no']).count())
section = section.drop(['is_duplicate', 'timestamp', 'month', 'year'], axis=1)
section.tail()

# group by "Location" column
groups = section.groupby('location')
  
# extract keys from groups
keys = groups.groups.keys()
  
for i in keys:
    print(f' In the '+ i.capitalize() + f' section on {day.capitalize()}, there were ' + str(len(groups.get_group(i))) + ' customers.')
    # print('\n')

 In the Checkout section on Tuesday, there were 1420 customers.
 In the Dairy section on Tuesday, there were 751 customers.
 In the Drinks section on Tuesday, there were 581 customers.
 In the Fruit section on Tuesday, there were 827 customers.
 In the Spices section on Tuesday, there were 543 customers.

In [245]:
# Calculate the total number of customers in each section over time
section = pd.DataFrame(unique_df.groupby(['location', 'customer_no']).count())
section = section.drop(['is_duplicate', 'timestamp', 'month', 'year'], axis=1)
section.tail()

KeyError: 'Level timestamp not found'

In [ ]:
# group by "Location" column
groups = section.groupby('location')
  
# extract keys from groups
keys = groups.groups.keys()
  
for i in keys:
    print(f' In the '+ i.capitalize() + ' section, there were ' + str(len(groups.get_group(i))) + ' customers.')
    # print('\n')

In [ ]:
# Export to CSV
section.to_csv(f'{day}_customer_section.csv',index=True)